::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: Gotham;
  src: url(Gotham\ Medium.ttf);
}
@font-face {
  font-family: Gotham;
  src: url(Gotham\ Medium2.otf);
}
@font-face {
  font-family: Gotham;
  src: url(Gotham\ Medium2.otf);
}

.top-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
}
img {
  width: 100%;
  height: 100%;
}
.logo {
  width: 128px;
  margin-left: 4px;
  margin-top: -22px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-left: 3px;
}
.links ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, min-content);
  grid-column-gap: 5px;
  margin-left: 122px;
}
.links li {
  font-size: 14px;
  font-weight: bold;
  font-family: Gotham;
  margin: 0 5px;
  letter-spacing: 1px;
}

.menus {
  display: grid;
  grid-template-columns: 1fr 141px;
  margin-top: 18px;
}
.shop {
  font-size: 14px;
  font-weight: bold;
  font-family: Gotham;
  margin-right: -40px;
}

.bar {
  position: fixed;
  top: 18px;
  right: 40px;
  text-align: center;
  margin-left: 68px;
  text-align: center;
}
.bar1,
.bar2,
.bar3 {
  width: 19px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-2px, 2px);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#scrool {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;

  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.child-1 {
  grid-row: 1/2;
  grid-column: 1/-1;
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  background-color: black;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop ");
}
.inner {
  margin-top: 9%;
  display: flex;
  width: 100%;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ops {
  opacity: 0;
  visibility: hidden;
}
.opsdisplay {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}
.see {
  opacity: 0;
  visibility: hidden;
}
.seedisplay {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 1.2s;
}
.op {
  opacity: 0;
  visibility: hidden;
}
.opdisplay {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}
.op3 {
  opacity: 0;
  visibility: hidden;
}
.op3d {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}
.op4 {
  opacity: 0;
  visibility: hidden;
}
.op4d {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}

.op5 {
  opacity: 0;
  visibility: hidden;
}
.op5d {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}
.op6 {
  opacity: 0;
  visibility: hidden;
}
.op6d {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}
.op7 {
  opacity: 0;
  visibility: hidden;
}
.op7d {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.7s;
}

.title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 20%;
}
.title h1 {
  font-size: 40px;
  font-family: Gotham;
  font-weight: bold;
  color: #393c41;
  margin-bottom: 0.6rem;
  text-align: center;
}
.title h6 {
  font-family: Gotham;
  font-weight: 200;
  font-size: 14px;
  color: #393c41;
  text-align: center;
}
span {
  font-size: 14px;
  font-family: Gotham;
  color: #393c41;
  text-decoration: underline 2px solid #393c41;
}

.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
button {
  width: 32vh;
  height: 40px;
  padding: 5px 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: Gotham;
}
.black {
  margin-right: 0.7rem;
  background: #171a20cc;
  color: #fff;
  font-weight: 500;
}
.white {
  margin-left: 0.7rem;
  background-color: #ffffffa6;
  color: #171a20;
  font-weight: 500;
}
.down-arrow {
  justify-content: center;
  animation: myfirst 2s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  margin-top: 90vh;
  margin-left: 49%;
}

@keyframes myfirst {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

.child-2 {
  grid-row: 2/3;
  grid-column: 1/-1;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;

  background-color: black;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY");
  overflow: hidden;
}

._2 {
  margin-top: 93px;
}

.child-3 {
  grid-row: 3/4;
  grid-column: 1/-1;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  background-color: black;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/409621ec-fca7-41fd-87e5-66e1caf40f5c/bvlatuR/std/2880x2400/m3-homepage-desktop");
  overflow: hidden;
}
._3 {
  margin-top: 93px;
}

.child-4 {
  grid-row: 4/5;
  grid-column: 1/-1;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  background-position: center;
  background-size: cover;

  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/58df46a8-26c5-401f-9325-388b2990dcc3/bvlatuR/std/3296x1798/mx-homepage-desktop");
}
._4 {
  margin-top: 93px;
}
.child-5 {
  grid-row: 5/6;
  grid-column: 1/-1;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  background-position: center;
  background-size: cover;
  background-color: black;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/27d0055c-b0bf-476c-b3aa-ec59d314f871/bvlatuR/std/2880x2400/Desktop-SolarPanels");
}
._5 {
  margin-top: 93px;
}
._5 .title {
  font-size: 34px;
}
._5 .order-btn {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-column-gap: 18px;
}
.child-6 {
  grid-row: 6/7;
  grid-column: 1/-1;
  height: 100vh;
  scroll-snap-align: start;
  width: 100%;
  background-position: center;
  background-size: cover;

  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e5e03a8-6bf2-49a1-b539-bee49aa0f3be/bvlatuR/std/2880x2400/Desktop-SolarRoof");
}
._6 {
  margin-top: 93px;
}

.child-7 {
  grid-row: 7/8;
  grid-column: 1/-1;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  background-position: center;
  background-size: cover;
  background-color: black;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
}
._7 {
  margin-top: 93px;
}

.b7 {
  display: flex;
  justify-content: center;
}

.drawer-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  transition: ease;
  transition-duration: 0.5s;
}
.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 296px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -296px;
  opacity: 0;
  visibility: hidden;
  transition: linear;
  transition-duration: 0.5s;
  overflow-x: hidden;
}
.drawerdisplay {
  right: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
}
.drawer-wrapperdisplay {
  opacity: 1;
  visibility: visible;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.drawer li {
  color: black;
  font-size: 14px;
  font-family: Gotham;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 0.1px solid rgb(219, 218, 218);
}

/* animation*/
.load {
  transition: 0.7s;
  transform: translateY(-17%);
  animation: head 0.7s forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes head {
  0% {
    transform: translateY(100%);
  }
}
.blur {
  transition: 1.5s;
  animation: tex 1.5s forwards;
}
@keyframes tex {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.anni {
  transition: 1.2s;
  transform: translateY(-10%);
  animation: btn 1.2s forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes btn {
  0% {
    transform: translateY(100%);
  }
}

/*********************************************************************************************************************************/
#admin {
  position: fixed;
  top: 14px;
  left: 147px;
}
select {
  background-color: hsl(208, 16%, 76%);
  color: black;
  text-align: center;
}
label,
input {
  font-size: 17px;
  font-family: Gotham;
  text-align: center;
  display: block;
  width: 80%;

  margin: 0 auto;
}
form {
  margin-top: 20%;
}
label {
  color: white;
  font-size: 22px;
  margin-bottom: 8px;
}
input {
  width: 74%;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: #d1d1d1;
  color: black;
  margin-bottom: 20px;
}
.btn {
  background-color: #5ed392;
  font-size: 22px;
  color: white;
}
#back {
  background-color: #c0392b;
  font-size: 22px;
  color: white;
}

label {
  align-items: center;
}
.reg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #171a20;
  opacity: 0;
  display: none;
}
.regdisplay {
  display: block;
  opacity: 1;
}
#numbers {
  display: inline;
  height: 46px;
  width: 56px;
  position: absolute;
  left: 93px;
  top: 321px;
}
